<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WsNfs_e.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WsNfs_e.Properties.Settings>
            <setting name="WsNfs_e_WsPBH_NfseWSService" serializeAs="String">
                <value>https://bhisshomologa.pbh.gov.br:443/bhiss-ws/nfse</value>
            </setting>
            <setting name="WsNfs_e_WsProducao_NfseWSService" serializeAs="String">
                <value>https://bhissdigital.pbh.gov.br:443/bhiss-ws/nfse</value>
            </setting>
            <setting name="SerieCertificadoDigital" serializeAs="String">
                <value />
            </setting>
        </WsNfs_e.Properties.Settings>
    </applicationSettings>
</configuration>