<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="StringConexao" value="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\NETSYSTEMAS\NetNfs-e\BD\Bd.mdf;Integrated Security=True;User Instance=True" />
  </appSettings>
</configuration>
