<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <!-- access these values via the property:System.Configuration.ConfigurationManager.AppSettings[key]	-->

    <!-- <add key="ConexaoBanco" value="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Google Drive\NETSYSTEMAS\NetNfs-e\NetNfs-e\Bd\Bd.mdf;Integrated Security=True;User Instance=True" /> -->
    <add key="ConexaoBanco" value="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Josimar\Google Drive\Projetos\NetNfs-e\NetNfs-e\Bd\Bd.mdf;Integrated Security=True;User Instance=True" />
    <!-- <add key="ConexaoBanco" value="Data Source=MATEUS-NOTE\SQLEXPRESS;Initial Catalog=Bd;User Id=netsystemas;Password=netsystemas;Trusted_Connection=True;" /> -->

  </appSettings>
</configuration>